* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #eee;

    #__next {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}