* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eee;
}
body #__next {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field-containers {
  width: 75%;
  margin-top: 10vh;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
@media only screen and (max-width: 800px) {
  .field-containers {
    margin-top: 2vh;
    width: 95%;
  }
}
.field-containers .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 32%;
  padding: 30px;
  background: white;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  cursor: pointer;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .field-containers .container {
    width: 100%;
  }
}
.field-containers .container:hover {
  transition: 1s;
  transform: scale(1.1);
  background: #333;
  z-index: 99;
}
.field-containers .container:hover span {
  transition: 1s;
  color: #eee;
}
.field-containers .container:hover h1 {
  transition: 1s;
  color: white;
}
.field-containers .container span {
  position: absolute;
  top: 10%;
  right: 7%;
  font-size: 0.7rem;
  color: #333;
}
.field-containers .container h1 {
  font-weight: normal;
  font-size: 1.3rem;
  color: #333;
  margin-top: 20px;
}
.field-containers .container h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: gray;
  margin-top: 20px;
}
.field-containers .container p {
  font-size: 15px;
  color: gray;
  margin-top: 10px;
}

.field-comments {
  width: 50%;
  position: relative;
}
@media only screen and (max-width: 800px) {
  .field-comments {
    width: 95%;
  }
}
.field-comments .comments {
  width: 100%;
  background: white;
  padding: 50px;
  margin-top: 10vh;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  position: relative;
}
@media only screen and (max-width: 800px) {
  .field-comments .comments {
    padding: 35px;
  }
}
.field-comments .comments span {
  position: absolute;
  top: 15%;
  right: 7%;
  font-size: 0.8rem;
  color: #333;
}
@media only screen and (max-width: 800px) {
  .field-comments .comments span {
    top: 10%;
  }
}
.field-comments .comments span span {
  font-weight: bold;
  margin-right: 20px;
}
.field-comments .comments h1 {
  font-weight: normal;
  font-size: 1.8rem;
  color: #333;
  margin-top: 20px;
}
@media only screen and (max-width: 800px) {
  .field-comments .comments h1 {
    font-size: 1.5rem;
    margin-top: 30px;
  }
}
.field-comments .comments h1::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: gray;
  margin-top: 20px;
}
.field-comments .comments p {
  font-size: 15px;
  color: gray;
  margin-top: 10px;
}
.field-comments > button {
  padding: 12px 50px;
  background: white;
  color: rgba(128, 128, 128, 0.5);
  border: none;
  border-radius: 5px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
}
.field-comments > button:hover {
  transition: 2s;
  color: white;
  background: gray;
}
.field-comments > button:active {
  transition: 0.1s;
  color: white;
  background: #333;
}/*# sourceMappingURL=globals.css.map */